services:
  redis:
  
    image: redis:8.4.0-alpine3.22
    container_name: redis-sismos
    env_file: .env
    ports:
      - "${REDIS_PORT:-6379}:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    restart: unless-stopped